body {
  background-color: rgb(41, 103, 167);
}

label, h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

label {
  font-size: 1.3rem;
}

h1 {
  font-size: 2.5rem;
}

.formulario {
  text-align: center;
}

input, textarea {
background: rgb(139, 139, 139);
}

span{
  background-color: rgb(57, 224, 131);
}

div {
  margin-top: 10px;
}
